:root{
    --background-color: #ebebeb;
    --background-two: #eedfdfcc;
    --text-color: #da4453;
    --background-dark: #000;
    --back-grdient: linear-gradient(to bottom, #da4453, #89216b);
    
}

* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s all;
}

/*****************************Home****************************************************/
#inicio{
    width: 100%;
    height: 100vh;
}
.nav{
    display: flex;
    width: 30%;
    height: 100vh;
    position: fixed;
    background: var(--text-color);
    z-index: 3;
    clip-path: circle(3.5% at 7% 3.3%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    transition: 0.4s;
}
.active{
    display: flex;
    width: 30%;
    height: 100vh;
    position: fixed;
    background: var(--back-grdient);
    z-index: 3;
    clip-path: circle(200% at 7% 3.3%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    transition: 0.4s;
}
.nav .btm{
    position: fixed;
    width: 2em;
    height: 1em;
    top: 0.9em;
    left: 0.8em;
    z-index: 3;
}
.nav span{
    position: fixed;
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    top: 1em;
    left: 1em;
}
.nav span::after{
    content: "";
    position: fixed;
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    top: 1.25em;
}
.nav span::before{
    content: "";
    position: fixed;
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    top: 1.5em;
}
.nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: sticky;
    z-index: 1;
    justify-content: center;
    background-color: rgba(225,225,225,.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.nav ul li{
    list-style: none;
    margin: 1em;
}
.nav ul li a{
    color: #e9e9e9;
    font-size: 1.9em;
    text-decoration: none;
    padding: 0.4em;
    border-radius: 8px;
    transition: .3s;
}
.nav ul li a:hover{
    color: rgba(0, 0, 0, .8);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.inicio{
    width: 100%;
    height: 100vh;
    background-image: url("imagen-1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.content{
    position: relative;
    width: 30em;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    left: 3%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.content h1{
    font-size: 3em;
}
/**********************************************************/
.paguina-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--background-color);
}
.pag1{
    width: 40%;
    height: 70vh;
    border: #000 solid;
    position: relative;
    top: 5%;
    left: 5%;
}
.pag1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .8);
}
.text-1{
    position: relative;
    width: 40%;
    top: -10%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-1 span{
    position: relative;
    font-size: 2em;
    color: var(--text-color);
}
/**********************************************************/
.paguina-2{
    width: 100%;
    height: 100vh;
    background-color: var(--background-two);
}
.pag2 {
    width: 50%;
    height: 90vh;
    background-image: url(imagen-9.jpg);
    background-position: -80vh;
    background-attachment: fixed;
    box-shadow: -2px 3px 8px rgba(0, 0, 0, .8);
    position: relative;
    top: 2em;
    right: -50%;
    transition: 0.4s;

}
.text-2{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    width: 40%;
    position: relative;
    top: -70%;
    left: 5%;
}
.text-2 .img-3{
    margin-top: 3%;
    width: 80%;
    height: auto;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .4);
}
.text-2 span{
    color: var(--text-color);
    font-size: 2em;
}

/*************************************************************/
.paguina-3{
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    position: relative;
    display: flex;
}
.pag3 {
   background: var(--background-two);
   width: 50%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.pag3 h3{
    font-size: 1em;
    color: var(--background-dark);
}
.pag3 span{
    color: var(--text-color);
    font-size: 2.3em;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, .4);
} 
.pag3 p{
    color: var(--background-dark);
    font-size: 1.3em;
    width: 58%;
}
.img-4{
    position: relative;
    width: 200px;
    margin-top: 2em;
    z-index: 2;
}
.text-3{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text-3 h2{
    font-size: 2em;
}
.text-3 span{
    color: var(--text-color);
    position: relative;
}
.text-3 p{
    font-size: 1em;
    width: 60%;
}
.img-5{
    width: 50%;
    height: 60%;
    object-fit: cover;
}

/**************************************************************************************/

#footer {
    width: 100%;
    height: 30vh;
    position: relative;
    bottom: 0;
    background: var(--background-dark);
}

@media screen and (max-width: 1100px){
    .nav{
        width: 100%;
        clip-path: circle(2.2% at 2.7% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
    .inicio{
        background-position: 50%;
        transition: 0.5s;
    }
    .pag2{
        background-position-x: -200%;
        transition: 0.4s;
    }
}
@media screen and (max-width: 950px){
    .nav{
        width: 100%;
        clip-path: circle(2.7% at 3.1% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
    .pag2{
        background-position: -110%;
        transition: 0.4s;
    }
}
@media screen and (max-width: 800px){
    .nav{
        width: 100%;
        clip-path: circle(3.3% at 3.6% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
    .pag1{
        top: 5%;
        left: 5%;
        transition: 1s;
    }
    .pag1 img{
        margin: 2%;
    }
    .text-1{
        width: 30%;
        top: -50%;
        left: 60%;
        transition: 1s;
    }
    /************************************/
    .pag2 {
        background-position: 27vh;
        transition: 0.4s;
    }
    .text-2 .img-3{
        margin-top: 10%;
    }
}
@media screen and (max-width: 750px){
    .nav{
        width: 100%;
        clip-path: circle(2.9% at 4.5% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
}
@media screen and (max-width: 650px){
    .nav{
        width: 100%;
        clip-path: circle(3% at 4.5% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
    .img-5{
        height: 40%;
    }
}
@media screen and (max-width: 560px){
    .nav{
        width: 100%;
        clip-path: circle(3.3% at 5.3% 3.2%);
    }
    .active{
        clip-path: circle(200% at 9% 3.3%);
    }
}
